<ul class="aside">

  <%for(var i = 0;i<navList.length;i++) {%>
    <li>
    <%if(navList[i].checked && navList[i].type==1){%>
      <h4><%=navList[i].module_name%></h4>
     <%}%>
     <ul>
      <%for(var j = 0;j<navList[i].items.length;j++) {%>
        <%if(navList[i].items[j].checked && navList[i].items[j].type!=3){%>
          <li class="list-group-item"> <a href="<%=navList[i].items[j].url%>"><%=navList[i].items[j].action_name%></a></li>
        <%}%>
       <%}%>
      </ul>
    </li>
  <%}%>
</ul>